<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Editar Aluno</title>
</head>
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
    <section layout:fragment="body" class="py-5">
        <div class="container m-5 border">
            <form class="row g-3 m-4" role="form" method="post"
                  th:action="@{/alunos/{alunoId}/edit(alunoId=${aluno.id})}"
                  th:object="${aluno}">
                <input type="hidden" th:field="*{id}">
                <div class ="col-12 m-2 text-center">
                    <h2>Atualize as Informacoes do Aluno</h2>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputNome" class="form-label">Nome</label>
                    <input
                            type="text"
                            th:field="*{nome}"
                            class="form-control"
                            id="inputNome">
                    <p th:if="${#fields.hasErrors('nome')}" class="text-danger" th:errors="*{nome}"></p>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputCPF" class="form-label">CPF</label>
                    <input
                            type="text"
                            th:field="*{cpf}"
                            class="form-control"
                            id="inputCPF">
                    <p th:if="${#fields.hasErrors('cpf')}" class="text-danger" th:errors="*{cpf}"></p>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputEndereco" class="form-label">Endereco</label>
                    <input
                            type="text"
                            th:field="*{endereco}"
                            class="form-control"
                            id="inputEndereco"
                            placeholder="Rua X, 100">
                    <p th:if="${#fields.hasErrors('endereco')}" class="text-danger" th:errors="*{endereco}"></p>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputDataNascimento" class="form-label">Data de Nascimento</label>
                    <input
                            type="text"
                            th:field="*{data_nascimento}"
                            class="form-control"
                            placeholder="yyyy-mm-dd"
                            id="inputDataNascimento">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputTurma" class="form-label">Turma</label>
                    <select id="inputTurma" th:field="*{turma}" name="inputTurma" class="form-control">
                        <option value="" th:text="'Escolha uma turma'" th:if="${aluno.turma == null}"></option>
                        <option  th:each="turma : ${turmas}" th:value="${turma.id}" th:text="${turma.nome}"
                                th:selected="${turma.id} == ${aluno.turma}"></option>

                    </select>
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Atualizar Aluno</button>
                </div>
            </form>
        </div>
    </section>
</main>
</body>
</html>
