<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Listar Turma</title>
</head>

<!-- Page Content-->
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
    <section layout:fragment="body" class="py-5">
        <div class="container m-3 border">
            <form class="row g-3 m-4" role="form" method="post"
                  th:action="@{/turmas}">
                <div class="form-group col-md-3">
                    <label for="filterCodigo" class="form-label">Codigo</label>
                    <input
                            type="text"
                            class="form-control"
                            id="filterCodigo"
                            name="filterCodigo">
                </div>
                <div class="form-group col-md-3">
                    <label for="filterNome" class="form-label">Nome</label>
                    <input
                            type="text"
                            class="form-control"
                            id="filterNome"
                            name="filterNome">
                </div>
                <div class="form-group col-12">
                    <button type="submit" class="form-control btn btn-primary">Filtrar</button>
                </div>
            </form>
        </div>
        <div class="container m-5 border">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Código</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Qntd. Máxima de Alunos</th>
                        <th scope="col">Acão</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="turma :${turmas}">
                        <td th:text="${turma.codigo}"></td>
                        <td th:text="${turma.nome}"></td>
                        <td th:text="${turma.quantidade_alunos}"></td>
                        <td>
                            <a class="btn btn-primary" th:href="@{/turmas/{turmaId}/edit(turmaId=${turma.id})}">
                                Editar</a>
                            <a class="btn btn-danger" th:href="@{/turmas/{turmaId}/delete(turmaId=${turma.id})}">
                                Deletar</a>
                        </td>

                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</main>
</body>
</html>
